<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpenseservlet</servlet-name>
        <servlet-class>AddExpenseservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlySummaryServlet</servlet-name>
        <servlet-class>MonthlySummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashbordServlet</servlet-name>
        <servlet-class>DashbordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExpenseServlet</servlet-name>
        <servlet-class>DeleteExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <servlet-class>UpdateExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetExpenseDetailsServlet</servlet-name>
        <servlet-class>GetExpenseDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpenseservlet</servlet-name>
        <url-pattern>/AddExpenseservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlySummaryServlet</servlet-name>
        <url-pattern>/MonthlySummaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashbordServlet</servlet-name>
        <url-pattern>/DashbordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExpenseServlet</servlet-name>
        <url-pattern>/DeleteExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <url-pattern>/UpdateExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetExpenseDetailsServlet</servlet-name>
        <url-pattern>/GetExpenseDetailsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
